# SPDX-License-Identifier: AGPL-3.0-or-later
# NOTE: npm ecosystem removed per project policy (Deno only)
version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      actions:
        patterns:
          - "*"
